body {
  width: auto;
  padding: 5px;
  margin: 0 auto;
  font-size: 12px;
  min-width: 750px;
  align-items: center;
  -webkit-align-items: center;
}

body, table {
  color: #333;
  font-family: arial, sans-serif;
}

p {
  margin: 10px 5px;
  line-height: 18px;
}

table {font-size: 11px}

body>* {
  width: 100%;
  max-width: 1200px;
}

.flex {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.note {
  padding: 0;
  font-size: 90%;
  margin: 5px 0 0 0;
  color: #707070 !important;
}

.information {
  padding: 0;
  color: #6B6E70;
  text-align: justify;
}

.content {
  padding: 0 0 10px 0;
  background-color: #fafafa;
}

#content {
  padding: 0 0 50px 0;
}

table {
  width: 100%;
  text-align: center;
  border-spacing: 3px;
}

textarea {
  color: #555;
  outline: none;
  padding: 10px;
  height: 150px;
  font-size: 12px;
  background: white;
  font-family: monospace;
  width: calc(100% - 2px);
  border: solid 1px rgba(0,0,0,0.1);
}

table thead {font-weight: bold}
table thead tr td {border: solid 1px rgba(0,0,0,0.1)}

tr td {
  margin: 0;
  padding: 0;
  width: auto;
  height: 20px;
  color: #404040;
  border-width: 0;
  transition: 300ms background-color;
}

tr td[type='number'] {
  width: 30px;
  text-align: center;
  border: solid 1px rgba(0,0,0,0.1);
}

tr td[type='name'] textarea, tr td[type='author'] textarea {
  min-width: 80px;
  max-width: 200px;
}

tr td[type='code'] {
  width: 750px;
  padding: 2px;
}

tr td[type='code'] textarea {
  width: 100%;
  height: 150px;
  max-width: 830px;
}

tr td[type='toggle'] {
  width: 22px;
  cursor: pointer;
}

tr td[type='toggle'][state='active'] {background-color: #5f4299}
tr td[type='toggle'][state='inactive'] {background-color: #c1c1c1}

tr td[type='close'] {
  width: 22px;
  cursor: pointer;
  border: solid 1px rgba(0,0,0,0.1);
  background: url('close-black.png') no-repeat center center;
}

tr td[type='close']:hover {background: #C75050 url('close-white.png') no-repeat center center}

td[type="code-item"] {
  margin: 0;
  border: 0;
  padding: 0;
}

td[type="code-item-add"] {
  width: 46px;
  min-width: 46px;
  max-width: 46px;
  cursor: pointer;
  background: #505050 url('add.png') no-repeat center center;
  background-size: 12px;
}

td[type="code-item-add"]:hover {
  background: #444444 url('add.png') no-repeat center center;
  background-size: 12px;
}

tr[state='inactive'] td,
tr[state='inactive'] td a,
tr[state='inactive'] td textarea {
  color: #afafaf !important;
}

input {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
}
